





<section class="mt-6">
  <nav class="flex justify-between px-20 items-center">
      <h3 class="navbar-brand text-2xl font-semibold font-arim  text-orange-400 lg:w-1/2 cursor-pointer" routerLink="/">VR world</h3>

      <div class="flex justify-between lg:w-1/4">
          <h3 class="navbar-brand text-sm cursor-pointer font-normal hover:text-yellow-600 font-lexend text-slate-100" routerLink="/">Home</h3>
          <a class="navbar-brand text-sm cursor-pointer font-normal hover:text-yellow-600 font-lexend text-slate-100" routerLink="/Products">Products</a>
          <h3 class="navbar-brand text-sm cursor-pointer font-normal hover:text-yellow-600 font-lexend text-slate-100" routerLink="/Contact">Contact Us</h3>
      </div>
  </nav>
</section>

<router-outlet />
